* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-grid {
  display: grid;
  gap: 10px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(4, 1fr);
  margin: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 1px solid #e2b3b3;
  border-radius: 0.3rem;
  padding: 10px;
  max-width: 100%;
  overflow: hidden;
}

.card-title {
  margin-bottom: 0.875rem;
  padding: 0 10px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

button.button--primary {
  padding: 4px 16px;
  inline-size: fit-content;
  cursor: pointer;
  border-radius: 0.3rem;
  outline: none;
  border: 1px solid #e2b3b3;
  background-color: #e4b9b9;
  color: #4b1b1b;
  transition: 0.25s all;
}

button.button--:hover {
  background-color: #e29898;
}

.card img {
  inline-size: fit-content;
  margin-bottom: 1rem;
  border: 1px solid #f5e9e9;
  width: 100%;
  height: auto;
  border-radius: 0.2rem;
}

.see-more {
  margin: 1rem;
}

.see-more h1 {
  display: block;
  margin-bottom: 2rem;
}

.post-content {
  display: flex;
  margin-bottom: 2rem;
}

.post-content img {
  inline-size: fit-content;
  border: 1px solid #f5e9e9;
  border-radius: 0.2rem;
}

.post-text {
  margin-left: 1rem;
  padding: 1rem;
  font-size: 2rem;
  border: 1px solid #e2b3b3;
  border-radius: 0.3rem;
  text-indent: 2rem;
}

.comment-section {
  padding: 1rem;
  border: 1px solid #e2b3b3;
  border-radius: 0.3rem;
}

.comment-section h4 {
  margin-bottom: 0.6rem;
}

.modal {
  background-color: rgba(53, 36, 36, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal:empty {
  display: none;
}

.modal > div {
  padding: 2rem;
  background-color: #be9595;
  border: 1px solid #e4b9b9;
  border-radius: 0.3rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  color: #4b1b1b;
}

.input-wrapper input {
  width: 190px;
  height: 35px;
  margin-top: 0.2rem;
  border-radius: 0.3rem;
  border: 1px solid #e4b9b9;
  outline: none;
  padding: 5px;
}

.form-buttons {
  display: flex;
}

.comment-box {
  padding: 0.6rem;
  border: 1px dotted #e4b9b9;
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  margin-bottom: 0.6rem;
}

.comment-content button {
  margin-bottom: 0.6rem;
}

.comment--name {
  font-size: 1rem;
  color: #4b1b1b;
  margin-bottom: 0.2rem;
}

.comment--name--user {
  font-size: 1.4rem;
}

.comment--email {
  font-size: 0.8rem;
  color: #7a27277a;
  margin-bottom: 0.5rem;
}

.comment--comment {
  font-size: 1rem;
  color: #4b1b1b;
  text-indent: 1rem;
}
