* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-grid {
  display: grid;
  gap: 10px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(4, 1fr);
  margin: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 1px solid #e2b3b3;
  border-radius: 0.3rem;
  padding: 10px;
  max-width: 100%;
  overflow: hidden;
}

.card-title {
  margin-bottom: 0.875rem;
  padding: 0 10px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

button.read,
button.add-comment {
  padding: 4px 16px;
  inline-size: fit-content;
  cursor: pointer;
  border-radius: 0.3rem;
  outline: none;
  border: 1px solid #e2b3b3;
  background-color: #e4b9b9;
  color: #4b1b1b;
  transition: 0.25s all;
}

button.read:hover,
button.add-comment:hover {
  background-color: #e29898;
}

.card img {
  inline-size: fit-content;
  margin-bottom: 1rem;
  border: 1px solid #f5e9e9;
  width: 100%;
  height: auto;
  border-radius: 0.2rem;
}

.see-more {
  margin: 1rem;
}

.see-more h1 {
  display: block;
  margin-bottom: 2rem;
}

.post-content {
  display: flex;
  margin-bottom: 2rem;
}

.post-content img {
  inline-size: fit-content;
  border: 1px solid #f5e9e9;
  border-radius: 0.2rem;
}

.post-text {
  margin-left: 1rem;
  padding: 1rem;
  font-size: 2rem;
  border: 1px solid #e2b3b3;
  border-radius: 0.3rem;
  text-indent: 2rem;
}

.comment-section {
  padding: 1rem;
  border: 1px solid #e2b3b3;
  border-radius: 0.3rem;
}
/* 
.comment-header {
  display: flex;
  justify-content: space-between;
} */
