.fav_users {
  margin: 3rem;
}

.fav_users_item {
  border: 1px solid yellow;
  padding: 1rem;
  border-radius: 0.6rem;
  margin: 0.5rem;
  display: flex;
  max-width: fit-content;
  align-items: center;
}

.fav_btn {
  display: flex;
  height: 2rem;
  border-radius: 50%;
  width: 2rem;
  padding: 0.5rem;
  align-self: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #eef10e;
  border: 1px solid purple;
  margin: 0 1rem;
  transition: 0.2s all;
}

.fav_btn:hover {
  background-color: #f1b40e;
}
